__pycache__/
*.pyc

*.json
*.txt
!requirements.txt

!.gitkeep

venv/
.venv/
env/

unidad4_programacion_genetica/docs/REGLAS DE ORO PARA TODOS.txt
unidad4_programacion_genetica/docs/Unidad-Practica-Arboles.ipynb - Colab.pdf